// Breakpoints
$breakpoint-xs: 320px !default;
$breakpoint-s: 576px !default;
$breakpoint-m: 768px !default;
$breakpoint-l: 992px !default;
$breakpoint-xl: 1200px !default;
$breakpoint-xxl: 1600px !default;

// Setup sass-mq (https://github.com/sass-mq/sass-mq)
$mq-responsive: true !default;
$mq-breakpoints: (
  xs: $breakpoint-xs,
  s: $breakpoint-s,
  m: $breakpoint-m,
  l: $breakpoint-l,
  xl: $breakpoint-xl,
  xxl: $breakpoint-xxl,
) !default;

@import '~sass-mq/mq';
